@font-face {
    font-family: 'CyberFont';
    src: url("..//..//assets/Cybertruck-RegularTTF.ttf");
}

.homeHeaderSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("..//..//assets/mainImage.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin-bottom: 3%;
}

.homeImageSection img{
    width: 5vw;
    
}

.homeButtonSection{
    margin-top: 25%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.homeButtonSection button{
    width: 20vw;
    height: 7vh;
    border-radius: 3px;
    cursor: pointer;
}

.vehicleButton{
    background-color: #3e6ae1;
    border: 1px solid #3e6ae1;
    color: white;
}

.vehicleButton:hover{
    background-color:#3860cd;
}

.missionButton{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.missionButton:hover{
    background-color: #d6d5d5;
}

.homeCarSection{
    width: 100%;
    display: flex;
    align-items: center;
}

.homeCyberSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.homeFutureSection{
    display: flex;
    margin-top: 3%;
}

.homeRobotSection{
    display: flex;
    margin-top: 3%;
}

.homeSolarSection{
    display: flex;
    margin-top: 3%;
}

.extraSection{
    display: flex;
    margin-top: 3%;
}