.solarCardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.solarCardTitle h2{
    font-size: 7vw;
    margin: 0;
    color: white;
}

.solarCardTitle h4{
    font-size: 2vw;
    margin: 0;
    color: white;
    text-decoration: underline;
}

.solarCardButtons{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 25%;
    margin-bottom: 5%;
}

.solarCardButtons button{
    width: 20vw;
    height: 7vh;
    border-radius: 3px;
    cursor: pointer;
}

.orderNowButton{
    background-color: #3e6ae1;
    border: 1px solid #3e6ae1;
    color: white;
}

.orderNowButton:hover{
    background-color:#3860cd;
}

.learnMoreButton{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.learnMoreButton:hover{
    background-color: #d6d5d5;
}